#header h2 a:hover {
  text-decoration:none;
}


body {
  padding:20px 0;
}

img {
  border-radius:50%;
  -webkit-border-radius:50%;
  border:0.2em solid #BBB;
}
body {
  background-color:#333;
  color:#BBB;
}

kbd {
  background-color:#999;
}
