#header h2 a:hover {
  text-decoration:none;
}


.btn-success {
  background-color:#4B956F;
  border-color:#4B956F;
}

img {
  border-radius:50%;
  -webkit-border-radius:50%;
  border:0.2em solid #BBB;
}
body {
  background-color:#333;
  color:#BBB;
}

kbd {
  background-color:#999;
}

.jumbotron {
  min-height:300px;
}
.jumbotron h2, .jumbotron p {
  color:#333;
}
/* 
 *  Header stuff
 */
.still-header {
  background-color:#615192;
  padding:150px 0;
  text-align:center;
  margin-bottom:2em;
}
.still-header h1 {
  font-size:5em;
}
.still-header .btn-success {
  background-color:#615192;
  padding-right:2em;
  padding-left:2em;
  font-size:1.6em;
  margin-top:1em;
}
.still-header .btn-success:hover {
  background-color:#4B956F;
}

/*
 * About stuff
 */
.still-about {
  margin-top:2em;
  background-color:#444;
  padding:2em;
}
.still-about hr { 
  color:#555;
  border-color:#555;
  background-color:#555;
}
.still-about-footer {
  text-align:center;
  background-color:#615192;
  height:200px;
  border-top:2px solid #4B956F;
  border-bottom:2px solid #4B956F;
}
.still-about-footer ul {
  padding-top:90px;
}

.still-dropdown > .dropdown-menu {
  background-color:#111;
  border:none;
  border-top-left-radius:4px!important;
}
.still-dropdown > .dropdown-menu a {
  color:#FFF;
}

.navbar-inverse .navbar-nav > .active > a {
  border-bottom-left-radius:7px;
  border-bottom-right-radius:7px;
}

footer > p {
  margin-bottom:0;
}
.btn {
  margin:1em 0;
}
