<div class="still-about">
  
<div class="container center-block" ng-controller="AboutController" style="text-align:center;">
    <div style="width:200px; margin-bottom:40px;" class="center-block">
      <img src="img/DSC_0176.png" style="width:200px;"></img>
    </div>
    <!-- Row with icons -->
    <a style="margin:0 0.6em;" ng-repeat="network in social_networks" href="{{network.url}}">
      <img ng-src="img/{{network.img}}"/>
    </a>
    <h1>Alexander Stillesjö</h1>
    <p class="lead"><span style="font-style:italic;">&ldquo; The best code I write is with the </span><kbd>delete</kbd><span style="font-style:italic;"> key &bdquo;</span></p>
    <hr/>
    <ul class="list-inline">
      <li ng-repeat="skill in skills"><code style="color:#444;">{{skill}}</code></li>
    </ul>
</div> <!-- container -->
</div>
