<div class="container" ng-controller="AboutController" style="text-align:center;">
<h1>Alexander Stillesjö</h1>
<div style="width:200px;" class="center-block">
  <img src="img/DSC_0176.png" style="width:200px;"></img>
</div>
<h3>Software Developer</h3>
<!-- Row with icons -->
<a ng-repeat="network in social_networks" href="{{network.url}}">
  <img src="img/{{network.img}}"/>
</a>

</div> <!-- container -->


<div class="container" style="margin-top:20px;">
  <div class="row">
    <div class="col-md-4">
      <div class="jumbotron">
        <h2>Stuff</h2>
        <p>More stuff</p>
        <p><a href="#" class="btn btn-primary btn-lg">Check it out</a></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="jumbotron">
        <h2>More stuff</h2>
        <p>This is some other stuff</p>
        <p><a href="#" class="btn btn-primary btn-lg">Check it out</a></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="jumbotron">
        <h2>More stuff</h2>
        <p>This is some other stuff</p>
        <p><a href="#" class="btn btn-primary btn-lg">Check it out</a></p>
      </div>
    </div>
  </div>
</div>
