<div class="still-header still-experiplan-header still-header-small">
  <h1>Experiplan<br/><small>For planning and executing experiments</small></h1>
  <p><kbd>Being a scientist doesn't have to be rocket science</kbd></p>
</div>

<div class="still-document">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>Plan your experiment</h3>
        <p>Easy interface for setting up and executing your <kbd>experiments</kbd>.</p>
        <h3>Keep in touch with your subjects</h3>
        <p>Smart functions to help you communicate with your <kbd>participants</kbd>.</p>
      </div>
      <div class="col-md-4 jumbotron still-document-jumbotron" ng-controller="ContactController">
        <h3 style="text-align:center;"><span class="glyphicon glyphicon-alert"></span></h3>
        <h3>Work in progress<br/><small>Experiplan is still in production.</small></h3>
        <button type="button" ng-click="open_contact()" class="btn btn-success">Contact me for more info</button>
      </div>
    </div>
  </div>
</div>
