<div id="header">
  <h2><a href="#/">Still Interactive</a></h2>

  <div ng-controller="HeaderController">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" ng-class="{ active: isActive('/') }"><a href="#/" >Home</a></li>
      <li role="presentation" ng-class="{ active: isActive('/shet') }"><a href="#/shet" >SHET</a></li>
      <li role="presentation" ng-class="{ active: isActive('/about') }"><a href="#/about" >About</a></li>
    </ul>
  </div>
  <div style="clear:both; padding-bottom:1em;"> </div>
