<!--<h2><a href="#/">Still Interactive</a></h2>-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="container" ng-controller="HeaderController">
  <div class="navclass-header">
    <button class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Still Interactive</a>
  </div>
  <ul class="nav navbar-nav " role="tablist">
    <li role="presentation" ng-class="{ active: isActive('/') }"><a href="#/" >Home</a></li>
    <li role="presentation" ng-class="{ active: isActive('/shet') }"><a href="#/shet" >SHET</a></li>
    <li role="presentation" ng-class="{ active: isActive('/about') }"><a href="#/about" >About</a></li>
  </ul>
</div>
<div style="clear:both; padding-bottom:1em;"> </div>
