<div class="still-header still-home-header">
  <div class="visible-xs">
    <h3>stillesjo.org</h3>
  </div>
  <div class="hidden-xs">
    <h1>stillesjo.org</h1>
  </div>
  <p>Android / Iphone and Web development</p>
  <a class="btn btn-success" href="#/about">Learn more</a>
</div>
<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <h2>Software Development</h2>
        <hr/>
        <p>Android / Iphone and Web deveopment</p>
        <a class="btn btn-success" href="#/about">Learn more</a>
      </div>
    </div> <!-- end col -->
    <div class="col-md-6">
      <div class="jumbotron">
        <h2>Scrum Helper Estimation Tool</h2>
        <hr />
        <p>Makes estimation easier</p>
        <a class="btn btn-success" href="#/shet">Learn more</a>
      </div>
    </div>
  </div> <!-- end row -->
</div> <!-- end container -->
