<div class="container">
      <img style="position:absolute; right:0px; top:150px; width:200px; opacity:0.4;" src="img/credit_cards.png" />
      <h2 style="text-align:center; padding:1em;">Scrum Helper Estimation Tool</h2>
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <img src="img/ic_launcher_shet.png"/>
      <p>Designed by a scrum master, after sorting the scrum cardsone time too many...</p>
    </div>
    <div class="col-xs-6 col-md-4">
      <p>Used by developers and scrum masters alike, all over the world</p>
    </div>
  </div>
</div>
