<div class="container">
  <div class="row">
    <div class="span4">
      <h2>Scrum Helper Estimation Tool</h2>
  
      <p>Scrum Helper Estimation Tool (SHET) is a scrum estimation tool created by a scrum master who was sick sorting the deck of cards for each planning meeting. Instead an android app was created to make the planning less painful and to get more free time for other fun stuff!</p>
    </div>
    <div class="span4">
      <h2>This is other stuff</h2>
      <p>This is some text..</p>
    </div>
  </div>
</div>
