<div class="still-header still-shet-header still-header-small">
  <h1>SHET<br/><small>Scrum Helper Estimation Tool</small></h1>
  <kbd>Estimations have never been easier</kbd>
</div>
<div class="still-document">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Written by a scrum master</h2>
        <p>Who finally got sick of sorting out the deck of estimation cards... Estimating <kbd>sprint</kbd> stories should be easy and be done quick by minimizing overhead.</p>
        <h2>Easy to use</h2>
        <p>Just flip your <kbd>phone</kbd> after chosing your estimation!</p>
        <h2></h2>
        <!--
          Still in development :(
          <h2>Powerful</h2>
        <p>Try out the group estimations where you connect to each other to perform estimations.</p>
        <p><kbd>Still in development!</kbd></p>
        -->
      </div>
      <div class="col-md-6 jumbotron still-document-jumbotron">

        <h2>Download now</h2>
        <p>On Android Play Store</p>
        <a href="https://play.google.com/store/search?q=pub:Alexander Stillesjö">
          <img alt="Android app on Google Play"
               src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png" />
        </a>
      </div>
    </div>
  </div>
</div>
