<div class="still-header still-home-header">
<div class="still-home-header-content">

  <div class="visible-xs"><h1 style="font-size:2em;">{{header}}</h1></div>
  <div class="visible-sm"><h1 style="font-size:4em;">{{header}}</h1></div>
  <div class="visible-md"><h1 style="font-size:6em;">{{header}}</h1></div>
  <div class="visible-lg"><h1 style="font-size:8em;">{{header}}</h1></div>
  <p class="still-p-pop"><span class="still-p-pop-span">Software developer</span></p>
  <br/>
  <a class="btn btn-success" href="#/about">Learn more</a>
</div>
</div>
